<!DOCTYPE html>
{% load static %}
<html lang="ru">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>AksFood</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
 <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'blog/images/apple-touch-icon.png' %}">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/css/bootstrap.css'  %}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="{% static 'blog/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
     <link href="{% static 'blog/css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'blog/css/colors.css' %}" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="{% static 'blog/css/version/garden.css' %}" rel="stylesheet">


</head>
<body>

    <div id="wrapper">
        <div class="collapse top-search" id="collapseExample">
            <div class="card card-block">
                <div class="newsletter-widget text-center">
                    <form class="form-inline" method="get" action="{% url 'search' %}">
                        <input type="text" name="q" class="form-control" placeholder="Что хотите найти?">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="topbar-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                        <div class="topsocial">
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 hidden-md-down">
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Поиск</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a href=""><img src="{% static 'blog/images/AksFood.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div><
        </div>

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu" aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="Forest Timemenu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="/">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'category_recipes' 1 %}">Завтраки/напитки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'category_recipes' 2 %}">Основные блюда</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'category_recipes' 3 %}">Десерты/выпечка</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'category_recipes' 4 %}">Закуски/салаты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'add_post' %}">Добавить пост</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">
                                <span class="color-green"><a href="{% url 'category_recipes' recipe.category_id %}" title="">{{ recipe.category }}</a></span>

                                <h3>{{ recipe.title }}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="" title="">{{ recipe.created_at }}</a></small>
                                    <small><a href="" title="">AksFood</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> {{ recipe.views }}</a></small>
                                </div>

                            </div>

                            <div class="single-post-media">
                                <img src="{{ recipe.image.url }}" alt="" class="img-fluid">
                            </div>

                            <div class="blog-content">  
                                <div class="pp">
                                    <p>{{ recipe.description }}</p>
                                    <h3><strong>{{ recipe.ingredients }}</strong></h3>

                                </div>

                                <div class="pp">

                                    <p>{{ recipe.instructions }}</p>
                                    <p><img src="{{ recipe.image2.url }}" class="float-left" width="340" alt=""> {{ recipe.additional_description }}</p>
                                </div>
                            </div>

                            <div class="blog-title-area">

                            </div>
{# -----------------------Блок с видео ---------------------->#}
                                <div class="video-container">
                                    <video controls>
                                        <source src="{{ recipe.video.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            <hr class="invis1">
{#------------------------------------------------#}
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Поиск</h2>
                                <form class="form-inline search-form" method="get" action="{% url 'search' %}">
                                    <div class="form-group">
                                        <input name="q" type="text" class="form-control" placeholder="">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div>

                            <div class="widget">
                                <h2 class="widget-title">Новинки</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        <a href="{% url 'recipe_detail' product1.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ product1.image.url }}" alt="{{ product1.title }}" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ product1.title }}</h5>
                                                <small>{{ product1.created_at }}</small>
                                            </div>
                                        </a>

                                        <a href="{% url 'recipe_detail' product2.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ product2.image.url }}" alt="{{ product2.title }}" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ product2.title }}</h5>
                                                <small>{{ product2.created_at }}</small>
                                            </div>
                                        </a>

                                        <a href="{% url 'recipe_detail' product3.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{{ product3.image.url }}" alt="{{ product3.title }}" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ product3.title }}</h5>
                                                <small>{{ product3.created_at }}</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="widget">
                                <h2 class="widget-title">Реклама</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="../../media/images/rekla.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>

                            <div class="widget">
                                <h2 class="widget-title">Галерея</h2>
                                <div class="instagram-wrapper clearfix">
                                    {% for gall in gallery %}
                                    <a href="{% url 'recipe_detail' gall.id %}"><img src="{{ gall.image2.url }}" alt="" class="img-fluid"></a>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="widget">
                                <h2 class="widget-title">Категории</h2>
                                <div class="link-widget">
                                    <ul>
                                        {% for category in all_category %}
                                        <li><a href="{% url 'category_recipes' category.id %}">{{ category.name }} <span>({{ category.recipe_count }})</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <a href="index.html"><img src="images/AksFood_black.png" alt="" class="img-fluid"></a>
                                <p>AksFood — это персональный блог, посвященный искусству еды, а также современным способам приготовления мамонта.</p>
                                <div class="social">
                                    <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://vk.com/stu_unger" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-center">
                                    <form method="post" action="" class="form-inline">
                                        {% csrf_token %}
                                        <input type="email" id="email" name="email" required class="form-control" placeholder="Email">
                                        <button type="submit" name="email_form" class="btn btn-primary">Подписаться <i class="fa fa-envelope-open-o"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright">&copy; AksFood: <a href="">AksFood R V</a>.</div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="dmtop">Scroll to Top</div>
        
    </div>

    <!--  JavaScript
    ================================================== -->
     <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/tether.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/custom.js' %}"></script>

</body>
</html>